/*================================
                 body color gradiente
         ====================================*/
body.home {
  background-image: linear-gradient(90deg, #1d406d, #3f67a9);
}

/*================================
                 Contenedor general
         ====================================*/
.conteiner {
  display: grid;
  grid-template-columns: 34% 66%;
  width: 100%;
  /* font-family: "Montserrat", sans-serif; */
  font: 400 13px/23px IBM Plex Sans;
  background-color: #e6e6e6;
  margin: 2% auto;
  border-radius: 12px;
}

/*================================
                 Columna Izquierda
         ====================================*/
.sidenav {
  display: flex;
  flex-direction: column;
  margin: 5% auto;
  /* justify-content: center; */
}

header {
  margin: 5% auto;
  display: flex;
  justify-content: center;
}

/*imagen del cv*/
header img {
  display: flex;
  margin: 4% auto;
  width: 240px;
  max-width: 100%;
  border-radius: 250px;
}

/*contenedor de los botones de navegacion*/
nav {
  display: flex;
  flex-direction: column;
  margin: 2% auto;
}

/*BOTONES de navegacion*/

.btn-primary {
  text-decoration: none;
  margin: 4% auto;
  text-align: center;
  width: 100px;
  padding: 10px;
  font-weight: 553;
  font-size: 14px;
  color: #5e5449;
  background-color: #e0d1b6;
  border-radius: 6px;
  border: 2px solid #6d6049;
}

/*efecto hover de los botones*/
.btn-primary:hover {
  color: #5a7f7c;
  background-color: whitesmoke;
}

/*================================
                Columna derecha
         ====================================*/

/*CONTENEDOR PRIMERA SECCIÓN*/
.quiensoy {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  /* background: whitesmoke; */
  background: rgb(255, 255, 255);
  margin: 2% 4% auto 0;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*datos de contacto, email, linkedin, skype, etc*/
.quiensoy ul li {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  margin: 1.5% auto;
  font-size: 12px;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #634242;
  text-transform: uppercase;
  letter-spacing: 2pt;
}

/*CONTENEDOR SEGUNDA SECCIÓN*/
.formacion {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* background: whitesmoke; */
  background: rgb(255, 255, 255);
  margin: 2% 4% auto 0;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*CONTENEDOR TERCERA SECCIÓN*/
.experiencia {
  display: flex;
  flex-direction: column;
  /* background: whitesmoke; */
  background: rgb(255, 255, 255);
  margin: 2% 4% auto 0;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*CONTENEDOR CUARTA SECCIÓN*/
.idiomas {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  /* background: whitesmoke; */
  margin: 2% 4% auto 0;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*CONTENEDOR QUINTA SECCIÓN*/
.portfolio {
  display: flex;
  flex-direction: column;
  /* background: whitesmoke; */
  background: rgb(255, 255, 255);
  margin: 2% 4% auto 0;
  padding: 5%;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*CONTENEDOR UL DE LAS IMAGENES */
.imgportfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto; */
}

/*IMAGENES DEL PORTFOLIO */
.portfolio ul li a .pic {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: auto;
}

/*================================
                h1 h2 h3 p (hr con sus respectivas clases)
         ====================================*/

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  margin-bottom: 1.5%;
  margin-top: 2%;
  text-transform: uppercase;
  color: #403b36;
  opacity: 1;
}

h2 {
  color: #5a7f7c;
  font-size: 22px;
  margin-bottom: 1%;
  font-family: "Noto Sans HK", sans-serif;
  opacity: 1;
}

h3 {
  /* color: #cf5209; */
  color: #5a7f7c;
  font-size: 16px;
  margin-bottom: 1%;
  margin-top: 2%;
  opacity: 1;
}

p {
  font-family: "Roboto", sans-serif;
  /* font-family: Helvetica, sans-serif; */
  color: #5e5449;
  font-size: 14px;
  margin-bottom: 1%;
  text-align: justify;
  opacity: 1;
}

hr.recta {
  border-color: #5a7f7c;
  margin: 0.5% 0% 1% 0%;
}

@media screen and (max-width: 800px) {
  .conteiner {
    display: inline-block;
    width: 100%;
  }
.btn-primary {
    display: block;
    width: 150px;
  }
  .quiensoy,
  .formacion,
  .experiencia,
  .idiomas,
  .portfolio {
    margin-bottom: 10%;
  }
  body.home {
    background: #e6e6e6;
  }
  
}
